/*  Stylesheet for Personal Webpage
    Author: Ryan Geiger */
    
html {
    background: url(../images/greybgtexture.png);
}

#title {
    font-family: Tahoma;
    text-align: center;
    color: white;
    text-shadow: 3px 3px black;
}
