/*  Stylesheet for Personal Webpage
    Author: Ryan Geiger */
    
html {
    background: url(../images/greybgtexture.png);
    font-family: Tahoma;
}

#title {
    text-align: center;
    color: white;
    text-shadow: 3px 3px black;
}

#sidebar {
    float: left;
    padding: 20px;
    border: 5px ridge red;
    border-radius: 5px;
    font-size: 1.2em;
}

ul {
    list-style: none;
    text-align: left;
}
