/*  Stylesheet for Personal Webpage
    Author: Ryan Geiger */
    
html {
    background: url(../images/greybgtexture.png);
    font-family: Tahoma;
}

#title {
    text-align: center;
    color: white;
    text-shadow: 3px 3px black;
}

#sidebar {
    float: left;
    list-style-type: none;
    font-size: 2em;
    padding: 10px;
    border: 2px ridge yellow;
}
